{% extends "base.html" %}
{% load static %}
{% block title %}
    Thanks - Bike Store
{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-center my_title text-white">
                Thanks for placing your order
            </h1>
            <br>
            <br>
            <p class="text-white">Your order number is: <b>{{ customer_order.id }}</b></p>
            <br>
            <p class="text-white">
                We have received your order and will begin processing right 
                away. For your records, an email confirmation has been sent to 
                you. It contains details of the items you purchased.
            </p>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
