{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to the cushion store where you can buy electric and mountain bikes.
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - Perfect Cushion Store
{% else %}
See Our Cushion Collection - Perfect Cushion Store
{% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if category %}
<div>
    <div>
        <p><a href="{% url 'shop:all_products' %}">Our Product Collection</a> | {{category.name}}</p>
    </div>
</div>
{% endif %}
<div>
    {% if category %}
    <img src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
5
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
</div>
{% else %}
<img src="{% static 'images/banner.jpg' %}" alt="Our Products Collection">
</div>
<br>
<div>
    <h1>Our Products Collection</h1>
    <p>You'll find a full range of mountain bikes for tackling off-road trails and rough terrain. 
        Our range covers everything from specialized hardtail mountain bikes perfect for cross-country, 
        to electric mountain bikes for assistance up hills </p>
</div>
{% endif %}
<div>
    <div>
        {% for product in prods %}
        <div>
            <div>
                <a class="img" href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>€{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <br>
</div>
{% endblock %}